
header{
    display: flex;
    flex-direction: row;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    row-gap: 1.5rem;

    list-style: none;
}

a{
    text-decoration: none;
}