*,:root {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
                
    align-items: center;

    margin: auto;
    
    width: 100%;
    height: 50px;
    background: rgb(13, 218, 218);
}

nav {
     /* max-width: 1120px; */
  margin: auto;
  padding: 1.5rem 1.0rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


ul {
    display: flex;
    flex-direction: row;
    
    list-style: none;
    text-decoration: none;
}

li {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

a {
    padding-left: 1rem;
    text-decoration: none;
}