* :root{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 1.5rem;
    list-style: none;
}

a{
    text-decoration: none;
}